<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjdd.report.online.dao.DBOnlineDAO">

	<select id="countOrderByDate" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			zj_order
		WHERE
			DATE_FORMAT(end_at, '%Y%m%d') = #{accDate}
		AND state = 1
	</select>
	
	<select id="countShopByDate" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM
			zj_store
		WHERE
			DATE_FORMAT(created_at, '%Y%m%d') = #{accDate}
	</select>
	
	<select id="countOrderAmountByDate" parameterType="java.lang.String" resultType="java.math.BigDecimal">
		SELECT
			sum( price )
		FROM
			zj_order
		WHERE
			DATE_FORMAT(end_at, '%Y%m%d') = #{accDate}
		AND state = 1
	</select>
	
	<select id="countOrderRewardByDate" parameterType="java.lang.String" resultType="java.math.BigDecimal">
		SELECT
			sum( reward )
		FROM
			zj_order
		WHERE
			DATE_FORMAT(end_at, '%Y%m%d') = #{accDate}
		AND state = 1
	</select>
	
</mapper>