<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jee 
            http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx.xsd">


	<bean name="txManager_online"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource_online"></property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="sqlSessionFactory_online" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:orm/sqlMapConfig_online.xml"></property>
		<property name="dataSource" ref="dataSource_online" />
	</bean>
	
	<bean id="demoOnlineDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.zjdd.report.demo.dao.DemoOnlineDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory_online"></property>
	</bean>
	
	<bean id="dbOnlineDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.zjdd.report.online.dao.DBOnlineDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory_online"></property>
	</bean>

</beans>
